body {
    background-color: #cfe0e8;
}

/*---------header styles start here---------*/
.header {
    height: 140px;
    background-color: #cfe0e8;
    /* flexbox container*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.header > .top-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header > .middle-row > .name-logo-wrapper {
    padding-bottom: 25px;
}

.header > .middle-row > .name-logo-wrapper > .name-logo {
    background-color: #cfe0e8;
    padding: 5px;
    border-style:solid;
    border-color: #cea135;
    border-radius: 50px;
}

.header > .middle-row > .name-logo-wrapper > .name-logo > .name {
    font-family: "Ubuntu Condensed";
    font-size: 50px;
    color: #cea135;
}

.header > .bottom-row > .nav-links {
    display: flex;
}

.header > .bottom-row > .nav-links > .nav-link {
    width: 220px;
    text-align: center;
}

.header > .bottom-row > .nav-links > .nav-link a {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 30px;
    color: #36486b;
    text-decoration: none;
    transition: 0.5s;
}

/*change text color and spacing when hover*/
.header > .bottom-row > .nav-links > .nav-link a:hover {
    color: #cea135;
    letter-spacing: 2px;
}
/*-------------header styles end here---------------*/


/*------------parallax scroll section starts----------------*/
.scroll-section {
    background-image: url(images/mussels.jpg);
    padding: 100px;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll-section > .top-heading {
    padding: 1px 20px;
    background-color: #cfe0e8;
    font-family: "Ubuntu Condensed";
    color: #36486b;
    width: 130px;
    border-radius: 2px;
}
/*---------------parallax scroll section ends--------------*/

.spacer {
    height: 70px;
    width: 100%;
}

/*---------------Square grid styles - start----------------*/
.squares-wrapper {
    display: flex;
    justify-content: center;
}

.squares-wrapper > .squares {
    width: 1000px; 
}

.squares-wrapper > .squares > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
}

.square > .img-wrapper img {
    width: 100%;
    height: 500px;
}

.square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 42px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: "Ubuntu Condensed";
    color: #36486b;
}

.square > .square-text-wrapper > h1 {
    color: #cea135;
}
/*-----------------Square grid styles - end----------------*/

/*-----------------footer starts here-------------------------*/
.footer {
    padding-top: 15px;
    background-color: #618685;
    display: flex;
    justify-content: space-around;
    font-family: "Ubuntu Condensed";
    font-size: 1.5em;
    color: #36486b;
    padding-bottom: 30px;
}
/*------------------footer ends here---------------------------*/

.copyright {
    display: flex;
    justify-content: space-evenly;
    background-color: #618685;
}

.search-bar {
    float: right;
}

.search-bar button:hover {
    background: #ccc;
}
.name-border {
    background-color: #cfe0e8;
    padding: 5px;
    border-style:solid;
    border-color: #36486b;
    border-radius: 20px;
}
.name-border > .name {
    font-family: "Ubuntu Condensed";
    font-size: 50px;
    color: #36486b;
}